@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 9px 24px;
  box-sizing: border-box;
  border-radius: 4px;
}

.button:hover {
  background-color:#615048;
}

.button:focus {
  background-color:#615048;
  outline: 3px solid #83B3D3;
}

.button:active {
  background-color:#615048;
  color: rgba(255,255,255,0.3);
  outline: none;
}

.button-catalogue {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  min-width: 575px;
  min-height: 60px;
  padding: 12px 0;
  border-radius: 10px;
}

.button-mailing {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  border-radius: 0;
}

.button-mailing:hover {
  background-color:#68A2CA;
}

.button-mailing:focus {
  background-color:#68A2CA;
  outline: 3px solid#756257;
}

.button-mailing:active {
  background-color:#68A2CA;
  color: rgba(255,255,255,0.3);
  outline: none;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  box-sizing: border-box;
  min-width: 40px;
  min-height: 40px;
}

.button-social:focus {
  border-radius: 10px;
  outline: 3px solid #83b3d3;
}

.button-social:active {
  opacity: 0.3;
  outline: none;
}

.button-social .social-icon {
  fill: #83B3D3;
}

.button-social:hover .social-icon {
  fill: #68A2CA;
}

.button-social:focus .social-icon {
  fill: #68A2CA;
}

.button-social:active .social-icon {
  fill: #68A2CA;
}

.button-show {
  background-color: #83b3d3;
}

.button-show:hover {
  background: #68A2CA;
}

.button-show:focus {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-show:active {
  background: #68A2CA;
  outline: none;
  color:rgba(255, 255, 255, 0.3);
}

.button-more {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  margin-bottom: 30px;
  display: inline-block;
  min-width: 625px;
  min-height: 55px;
  align-self: center;
}

.button-more:hover {
  background: #68A2CA;
}

.button-more:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.button-more:active {
  background: #68A2CA;
  outline: none;
  color:rgba(255,255,255,0.3);
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background: none;
  text-transform: none;
}

.button-reset:hover {
  background: none;
  color:rgba(255, 255, 255, 0.6)
}

.button-reset:focus {
  background: none;
  outline: 3px solid #83B3D3;
}

.button-reset:active {
  background: none;
  outline: none;
  color:rgba(255, 255, 255, 0.3);
}

.button-favorites {
  background-color: #83b3d3;
}

.button-favorites:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
}

.button-favorites:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.button-favorites:active {
  background: #68A2CA;
  outline: 1px solid #756257;
  color:rgba(255, 255, 255, 0.3);
}

.button-favorites-active {
  background-color: #7db54f;
}

.button-favorites-active:hover {
  background: #6C9E42;
}

.button-favorites-active:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}

.button-favorites-active:active {
  background: #6C9E42;
  outline: none;
  color:rgba(255, 255, 255, 0.3);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  position: relative;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 360px;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 15px 10px;
}

.navigation-link-current::before {
position:absolute;
right: 10px;
bottom: 0;
left: 10px;
height: 2px;
background-color: #756257;
content: "";

}

.navigation-link:hover {
color: #756257;
}

.navigation-link:focus {
color: #756257;
border-radius: 10px;
outline: 3px solid #83B3D3;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.navigation-link:active .favourites-count{
  color: rgba(255,255,255,0.3);
}

.navigation-user {
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  margin-left: auto;
  margin-right: 0;
}

.navigation-item {
  display: flex;
}

.navigation-user .navigation-item:last-child {
  padding: 14px 10px;
}

.navigation-user .navigation-link {
  min-height: 22px;
  min-width: 40px;
}

.navigation-icon {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
fill: #000000;
/* #000000 */
}

.navigation-link:hover .navigation-icon {
  fill:  #756257;
}

.navigation-link:focus .navigation-icon {
  fill:  #756257;
}

.navigation-link:active .navigation-icon {
  fill:  #756257;
  opacity: 0.3;

}



.logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  }

.logo {
  display: block;
  width: 138px;
  height: 70px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  text-align: center;
}

.welcome-block {
  width: 1200px;
  height: 485px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/divider.png"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, 1200px 485px;
  background-position: 0 428px, 0 0;
  background-color: #e5e5e5;
}

.welcome-image {
  width: 458px;
  height: 352px;
  margin-top: 51px;
}

.reasons-item {
  min-height: 384px;
}

.reasons-image {
  display: block;
  width: 800px;
  height: 384px;
}

.htmlacademy-link {
  display: block;
  padding: 18px 22px;
}

.htmlacademy-logo {
  fill: #000000;
}

.htmlacademy-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-link:active {
  opacity: 0.3;
  outline: none;
}

.htmlacademy-link:hover .htmlacademy-logo {
  fill:#756257;
}

.htmlacademy-link:focus .htmlacademy-logo {
  fill:#756257;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill:#756257;
}

.inner-background {
  background-image: url("../img/catalogue-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
}

.hotel-card-img {
  display: block;
  width: 180px;
  height: 120px;
  margin-top: auto;
  margin-bottom: auto;
}

.hotel-card-img-link:hover {
  opacity: 0.6;
}

.hotel-card-img-link:focus {
  outline: 3px solid #83B3D3;
}

.hotel-card-img-link:active {
  opacity: 0.3;
  outline: none;
}

.hotel-card-name-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-name-link:hover {
  color: #756257;
}

.hotel-card-name-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  color: #756257;
}

.hotel-card-name-link:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.hotel-star-img {
  display: block;
  width: 18px;
  height: 17px;
  margin: 0 3.5px;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.favourites-count {
  display: block;
  box-sizing: border-box;
  height: 19px;
  width: 19px;
  padding: 3px 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  position: relative;
  top: -7px;
  left: 23px;
  border-radius: 50%;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 63px;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 10px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.subreasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.subreasons-item {
  display: block;
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 80px;
  padding-top: 184px;
  text-align: center;
}

.subreasons-item-home {
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 89px;
}

.subreasons-item-food {
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 89px;
}

.subreasons-item-souvenir {
  background-image: url("../img/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: center 85px;
}
.subreasons-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-title {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 79px;
}

.reasons-item:nth-of-type(1),
.reasons-item:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item:nth-of-type(2n+3),
.reasons-item:nth-of-type(2n+4) {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-of-type(2n+4) {
  background: rgba(131, 179, 211, 0.2);
}

.reasons-container-main {
  width: 400px;
  min-height: 384px;
  background-color: #83b3d3;
  box-sizing: border-box;
  padding: 80px;
}

.reasons-container {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 80px;
}

.reasons-item:nth-of-type(n+3) {
  display: block;
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 80px;
  text-align: center;
}

.reasons-name,
.subreasons-name {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 34px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.reasons-name-main {
  color: #ffffff;
}

.reasons-number {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 26px;
}

.reasons-number-main {
  color: #ffffff;
}

.reasons-description {
  text-align: center;
  margin: 0;
}

.reasons-description-main {
  text-align: center;
  color: #ffffff;
}

.subreasons-description {
  text-align: center;
}

.interest {
  width: 1200px;
  box-sizing: border-box;
  text-align: center;
  padding: 91px 240px;
}

.interest-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.interest-subtext {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 73px;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  width: 1200px;
  padding-top: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 26px;
  margin: 0 auto;
}

.mailing {
  min-height: 411px;
  box-sizing: border-box;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 94px 200px;
}

.mailing-index {
  background-image: url("../img/mailing-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 150px;
  margin-bottom: 26px;
}

.mailing-form {
  display: grid;
  grid-template-columns: auto min-content;
}

.mailing-title-inner {
  color: #000000;
  background: none;
}

.mailing-description-inner {
  color: #000000;
}

.social {
  width: 160px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.contacts {
  width: 720px;
  margin-left: 10px;
  text-align: center;
}

.partner {
  margin-left: auto;
}

.footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 15px 15px;
  box-sizing: border-box;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;

}

.footer-phone:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.inner-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 5px;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  display: flex;
}

.home-icon {
  fill: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 26px;
  list-style-type: none;
}

.breadcrumbs-item::after {
  content:" ";
  position: absolute;
  top: 8px;
  right: -15px;
  width: 5px;
  height: 8px;
  background-image:url("../img/next.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalogue-filter {
  display: flex;
}

.catalogue-filter-block {
  width: 190px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.catalogue-filter-block:nth-of-type(2) {
  width: 190px;
  margin-right: 100px;
}

.catalogue-filter-block:nth-of-type(3) {
  width: 340px;
}

.filter-buttons {
  margin-left: auto;
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalogue-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.control-label {
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-label {
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.sorting {
  width: 1060px;
  padding: 42px 70px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.sorting-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-right: 190px;
}

.sorting-type {
  width: 290px;
  margin-right: 80px;
}

.view-parameters {
  width: 160px;
  display: flex;
}

.button-view {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  outline: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-view:hover {
  outline: 2px solid #83B3D3;
}

.button-view:focus {
  outline: 2px solid #83B3D3;
}

.button-view:active {
  outline: 2px solid #000000;
}

.button-view-current {
  outline: 2px solid #000000;
}

.button-view:last-of-type {
  margin-right: 0;
}

.button-view-table {
  background-image: url("../img/mode-tile.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center center;
}

.button-view-full {
  background-image: url("../img/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center center;
}

.button-view-list {
  background-image: url("../img/mode-list.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center center;
}

.results {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.hotel-card {
  display: flex;
  min-height: 180px;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
}

.hotel-card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0;
  border-top: 1px solid #e6e6e6;
}

.hotel-card:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0;
  border-top: 1px solid #e6e6e6;
}

.hotel-card:last-of-type {
  margin-bottom: 30px;
}

.hotel-card-info {
  width: 535px;
  display: flex;
}

.hotel-card-info-details {
  width: 320px;
  margin-left: 37px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content auto min-content;
  column-gap: 8px;
}

.hotel-card-rating {
  width: 160px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-stars {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.rating-stars {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.hotel-card-name {
  margin-top: 0;
  margin-bottom: 1px;
  grid-column: 1 / -1;
}

.hotel-card-type,
.hotel-card-price {
  line-height: 23px;
}

.hotel-rating {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 15px;
  margin: 0;
  border-radius: 4px;
}

.hotel-number-view {
  line-height: 23px;
  margin-left: auto;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  display: block;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  padding: 17px 10px;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
  outline:  3px solid #756257;
}

.pagination-link:active {
  background: #68A2CA;
  outline: none;
  color:rgba(255,255,255,0.3);
}



.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  padding: 30px;
  align-items: center;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  width: 370px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
