@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-align: center;
}

.button-catalogue {
  font-size: 20px;
  line-height: 36px;
}

.button-mailing {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
}

.button-show {
  background-color: #83b3d3;
}

.button-more {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background: none;
  text-transform: none;
}


.button-favorites {
  background-color: #83b3d3;
}

.button-favorites-active {
  background-color: #7db54f;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 309px;
  margin-right: 150px;
}

.navigation-user {
  width: 150px;
  margin-left: auto;
  margin-right: 0;
}

.logo {
  width: 138px;
  height: 70px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  text-align: center;
}

.welcome-block {
  width: 1200px;
  height: 485px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/divider.png"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, 1200px 485px;
  background-position: 0 428px, 0 0;
  background-color: #e5e5e5;
}

.welcome-image {
  width: 458px;
  height: 352px;
  margin-top: 51px;
}

.reasons-image {
  width: 800px;
  height: 384px;
}

.htmlacademy-logo {
  width: 115px;
  height: 34px;
}

.inner-background {
  background-image: url("../img/catalogue-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.hotel-card-img {
  width: 180px;
  height: 120px;
}

.hotel-star-img {
  width: 18px;
  height: 17px;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.favourites-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background-color: #7db54f;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.subreasons-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.subreasons-item {
  width: 400px;
}

.subreasons-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-title {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.reasons-item:nth-of-type(1),
.reasons-item:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item:nth-of-type(3),
.reasons-item:nth-of-type(4),
.reasons-item:nth-of-type(5) {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-of-type(4) {
  background: rgba(131, 179, 211, 0.2);
}

.reasons-container {
  width: 400px;
  background-color: #83b3d3;
}

.reasons-name,
.subreasons-name {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons-name-main {
  color: #ffffff;
}

.reasons-number {
  text-transform: uppercase;
  text-align: center;
}

.reasons-number-main {
  color: #ffffff;
}

.reasons-description {
  text-align: center;
}

.reasons-description-main {
  text-align: center;
  color: #ffffff;
}

.interest {
  width: 1200px;
  text-align: center;
}

.interest-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interest-subtext {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.mailing {
  height: 411px;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.mailing-index {
  background-image: url("../img/mailing-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.mailing-title-inner {
  color: #000000;
  background: none;
}

.mailing-description-inner {
  color: #000000;
}

.social {
  width: 110px;
}

.contacts {
  width: 720px;
  margin-left: 60px;
  text-align: center;
}

.partner {
  width: 115px;
  margin-left: auto;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.inner-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.catalogue-filter {
  display: flex;
}

.catalogue-filter-block {
  width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalogue-filter-block:nth-of-type(2) {
  margin-right: 160px;
}

.catalogue-filter-block:nth-of-type(3) {
  width: 290px;
}

.filter-buttons {
  margin-left: auto;
  width: 160px;
  text-align: center;
}

.catalogue-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.control-label {
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-label {
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.sorting {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: 0 auto;
}

.sorting-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-right: 190px;
}

.sorting-type {
  width: 290px;
  margin-right: 80px;
}

.view-parameters {
  width: 160px;
}

.results {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.hotel-card {
  display: flex;
}

.hotel-card-info {
  width: 535px;
  display: flex;
}

.hotel-card-info-details {
  width: 320px;
  margin-left: 37px;
}

.hotel-card-rating {
  width: 160px;
  margin-left: auto;
}

.hotel-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-type,
.hotel-card-price {
  line-height: 23px;
}

.hotel-rating {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

.hotel-number-view {
  line-height: 23px;
  margin-left: auto;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  display: flex;
}

.pagination {
  width: 370px;
}
