@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  text-align: center;
}

.button-catalogue {
  font-size: 20px;
  line-height: 36px;
}

.button-mailing {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
}

.button-social {
  display: block;
  padding: 15px 10px;
}

.button-show {
  background-color: #83b3d3;
}

.button-more {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  margin-bottom: 30px;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background: none;
  text-transform: none;
}

.button-favorites {
  background-color: #83b3d3;
}

.button-favorites-active {
  background-color: #7db54f;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 360px;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 15px 10px;
}

.navigation-user {
  justify-content: flex-end;
  width: 360px;
  margin-left: auto;
  margin-right: 0;
}

.navigation-user .navigation-item:last-child {
  padding: 15px 10px;
}

.navigation-user .navigation-link {
  min-height: 22px;
  min-width: 40px;
}

.logo {
  display: block;
  width: 138px;
  height: 70px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  text-align: center;
}

.welcome-block {
  width: 1200px;
  height: 485px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/divider.png"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, 1200px 485px;
  background-position: 0 428px, 0 0;
  background-color: #e5e5e5;
}

.welcome-image {
  width: 458px;
  height: 352px;
  margin-top: 51px;
}

.reasons-item {
  min-height: 384px;
}

.reasons-image {
  display: block;
  width: 800px;
  height: 384px;
}

.htmlacademy-logo {
  width: 115px;
  height: 34px;
}

.inner-background {
  background-image: url("../img/catalogue-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
}

.hotel-card-img {
  display: block;
  width: 180px;
  height: 120px;
  margin-top: auto;
  margin-bottom: auto;
}

.hotel-star-img {
  display: block;
  width: 18px;
  height: 17px;
  margin: 0 3.5px;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.favourites-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background-color: #7db54f;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 63px;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 10px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.subreasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.subreasons-item {
  display: block;
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 80px;
  text-align: center;
}

.subreasons-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-title {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 79px;
}

.reasons-item:nth-of-type(1),
.reasons-item:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item:nth-of-type(2n+3),
.reasons-item:nth-of-type(2n+4) {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-of-type(2n+4) {
  background: rgba(131, 179, 211, 0.2);
}

.reasons-container-main {
  width: 400px;
  min-height: 384px;
  background-color: #83b3d3;
  box-sizing: border-box;
  padding: 80px;
}

.reasons-container {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 80px;
}

.reasons-item:nth-of-type(n+3) {
  display: block;
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 80px;
  text-align: center;
}

.reasons-name,
.subreasons-name {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 34px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.reasons-name-main {
  color: #ffffff;
}

.reasons-number {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 26px;
}

.reasons-number-main {
  color: #ffffff;
}

.reasons-description {
  text-align: center;
  margin: 0;
}

.reasons-description-main {
  text-align: center;
  color: #ffffff;
}

.subreasons-description {
  text-align: center;
}

.interest {
  width: 1200px;
  box-sizing: border-box;
  text-align: center;
  padding: 91px 240px;
}

.interest-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.interest-subtext {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 73px;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1200px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.mailing {
  min-height: 411px;
  box-sizing: border-box;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 94px 200px;
}

.mailing-index {
  background-image: url("../img/mailing-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 150px;
  margin-bottom: 26px;
}

.mailing-form {
  display: grid;
  grid-template-columns: auto min-content;
}

.mailing-title-inner {
  color: #000000;
  background: none;
}

.mailing-description-inner {
  color: #000000;
}

.social {
  width: 160px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.contacts {
  width: 720px;
  margin-left: 10px;
  text-align: center;
}

.partner {
  width: 115px;
  margin-left: auto;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.inner-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 5px;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.catalogue-filter {
  display: flex;
}

.catalogue-filter-block {
  width: 190px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.catalogue-filter-block:nth-of-type(2) {
  width: 190px;
  margin-right: 100px;
}

.catalogue-filter-block:nth-of-type(3) {
  width: 340px;
}

.filter-buttons {
  margin-left: auto;
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalogue-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.control-label {
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-label {
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.sorting {
  width: 1060px;
  padding: 42px 70px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.sorting-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-right: 190px;
}

.sorting-type {
  width: 290px;
  margin-right: 80px;
}

.view-parameters {
  width: 160px;
  display: flex;
}

.button-view {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button-view:last-of-type {
  margin-right: 0;
}

.results {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.hotel-card {
  display: flex;
  min-height: 180px;
  padding: 30px 0;
  box-sizing: border-box;
}

.hotel-card:nth-last-of-type(2) /*why?*/ {
  margin-bottom: 30px;
}

.hotel-card-info {
  width: 535px;
  display: flex;
}

.hotel-card-info-details {
  width: 320px;
  margin-left: 37px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: min-content auto min-content;
  column-gap: 8px;
}

.hotel-card-rating {
  width: 160px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-stars {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.rating-stars {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.hotel-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 1px;
  grid-column: 1 / -1;
}

.hotel-card-type,
.hotel-card-price {
  line-height: 23px;
}

.hotel-card:last-of-type {
  margin-bottom: 30px;
}

.hotel-rating {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
}

.hotel-number-view {
  line-height: 23px;
  margin-left: auto;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  display: block;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  padding: 17px 10px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  padding: 30px;
  align-items: center;
}

.pagination {
  width: 370px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
